<launch>
    <group ns="surface">
        <node name="mux_demux" pkg="mux_demux" type="mux_demux.py" />
    </group>
    <group ns="rov">
        <node name="can_node" pkg="can_com" type="can_bus.py"/>
        <node name="thrust_proc" pkg="can_proc" type="thrust_proc.py"/>
        <node name="tool1_proc" pkg="can_proc" type="tool_proc.py"/>
        <node name="tool2_proc" pkg="can_proc" type="tool_proc.py"/>
        <node name="tool3_proc" pkg="can_proc" type="tool_proc.py"/>

        <node name="i2c_node" pkg="i2c_com" type="i2c.py"/>
        <node name="temp_proc" pkg="i2c_proc" type="temp_proc.py"/>

        <node name="imu_proc" pkg="i2c_proc" type="imu_proc.py"/>
        <node name="ph_proc" pkg="i2c_proc" type="ph_proc.py"/>
        <node name="depth_proc" pkg="i2c_proc" type="depth_proc.py"/>


        <node name="auto_control" pkg="control" type="auto_control.py"/>

        <node name="thrust_control" pkg="control" type="thrust_control.py"/>
    </group>
</launch>
