.textPrimary {
  color: #009687
}
.textPrimary:hover {
  color: #066158;
  cursor: pointer;
}

.titleContainer {
  width: 60%;
  display: inline-block;
  font-weight: bold;
}

.title {
  margin-top: 10px;
  display: inline-block;
}

.stats {
  display: inline-block;
  width: 40%;
  text-align: right;
}

.subTaskContainer {
  margin-top: 20px;
  height: 500px;
  overflow: scroll;
}

.subTask {
  border: 1px solid #009687;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 0.4s;
}